<style>
.event-card-img{
  height: 200px ;
}

.event-card-text{
	text-align: left;
	padding: 10px 10px 10px 10px;
	height:80px;
}

@media (min-width: 576px){
/* will be applied for small and larger */
	.event-card-text{
		/* @Note: these override values in the class above */
		height:150px; 
		padding-top:40px;
	}
}

.event-card-text h4{
	font-size: 1rem;
}
.event-card-text{
	color: black;
}
.front-card:hover .event-card-text{
  color: #00375D;
}

@media (min-width: 576px){
/* will be applied for small and larger */
	.event-date-block {
		margin-left:15px;
		position: absolute;
		top: 40%;
	}
}

.event-date-block {
	text-align: center;
	width: 70px;
	height: 80px;
	background-color: #666;
	font-weight: bold;
  font-size: 18pt;
  color: white;
  /* This makes short dates 2-line */
	padding:0 10px 0 10px;
}

.event-date-block{
	float:left;
	margin-right:20px;
}
</style>

<div class="row">
	{% if dates is empty %}
		<p class="ai1ec-no-results">
			{{ text_upcoming_events }}
		</p>
	{% else %}
		{% for date, date_info in dates %}
			{% for category in date_info.events %}
				{% for event in category %}
				
					<div class="col-lg-2 col-sm-4
						          ai1ec-event
							        ai1ec-event-id-{{ event.post_id }}
							        ai1ec-event-instance-id-{{ event.instance_id }}
							        {% if event.is_allday %}ai1ec-allday{% endif %}">
							
						<a class="front-card event-card ai1ec-load-event" href="{{ event.permalink | e('html_attr') }}">
							<div class="event-card-img d-none d-sm-block" 
									 style="background-image: url('/wp-content/plugins/all-in-one-event-calendar/public/themes-ai1ec/techhigh/img/gears/gear-{{ random(7) }}.jpg');">
              </div><!-- /.event-card-img -->
              
							<div class="event-date-block">
								<div>
									{{ date | month }} {{ date | day }}
								</div>
							</div>
							
							<div class="event-card-text">
							  <h4>{{ event.filtered_title | truncate | raw }}</h4>
							  {{ event.short_start_time }}
							</div><!-- /.event-card-text -->
							
						</a>
						
					</div> <!-- /.col -->
					
					{% endfor %}
			  {% endfor %}
			{% endfor %} <!-- date, date_info in dates -->
	{% endif %} <!-- dates is not empty -->

</div><!-- /.row -->